/vendor/
/composer.lock
/.idea/
/*.api
/*.env
.vscode/
examples/benchmark_*.json
examples/benchmark_stats.csv
examples/benchmark.db
.roomodes
.rooignore
/.roo/
/memory-bank/
/default-mode/
.clinerules-default
/examples/benchmark_results/
/examples/db_backup
examples/.bearer_token
examples/build
examples/dist
examples/.bearer_token
examples/.bearer_token
